* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Roboto;
  src: url(../webfonts/Roboto-Regular.ttf);
}
#successful_msg {
  background-color: white;
  padding: 10px;
  font-size: 19px;
  border-radius: 5px;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: #047604;
}
#successful_msg i, #successful_msg b {
  color: #047604;
}
#successful_msg a {
  text-decoration: none;
}
#successful_msg a:hover {
  color: #ce0505;
}

#form_container {
  background-color: #a7bcff;
  background-color: #7f7dc5;
  background-color: #8785d1;
  font-family: Roboto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#form_container #form_wrapper {
  background-color: white;
  padding: 20px 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#form_container #form_wrapper #logo {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}
#form_container #form_wrapper #title {
  color: #6d6d6d;
  margin-bottom: 20px;
}
#form_container #form_wrapper form {
  display: flex;
  flex-direction: column;
  width: 315px;
  gap: 3px;
}
#form_container #form_wrapper form input {
  padding: 10px;
  border-radius: 3px;
  border: solid 1px gray;
  font-size: 15px;
}
#form_container #form_wrapper form input::-moz-placeholder {
  color: rgb(175, 175, 175);
}
#form_container #form_wrapper form input::placeholder {
  color: rgb(175, 175, 175);
}
#form_container #form_wrapper form input[type=submit] {
  background-color: #5d5b8d;
  font-weight: bold;
  color: white;
  border: none;
}
#form_container #form_wrapper form input[type=submit]:hover {
  background-color: #3e3c61;
  cursor: pointer;
}
#form_container #form_wrapper form .error {
  font-size: 12px;
  color: red;
}
#form_container #form_wrapper p {
  color: #6d6d6d;
  font-size: 16px;
  margin-top: 15px;
}
#form_container #form_wrapper p a {
  text-decoration: none;
}
#form_container #form_wrapper p a:hover {
  color: #ce0505;
}