$color1: #151515;
$color2: #009DA4;
$color3: #0F9D58;
$color4: #067e44;
$color5: #060;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

#container {
    background-color: #a7bcff;
    background-color: #928fed;
    background-color: #8785d1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    #wrapper {
        width: 75%;
        height: 85%;
        display: flex;
        border-radius: 10px;
        overflow: hidden;
        font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
        box-shadow: 0 3px 15px 0px rgba(0, 0 , 0, .5);
    
        #left_panel {
            flex: 1;
            background-color: #3e3c61;
            
            #left_panel_header {
                background-color: #2f2d52;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                color: #ddddf7;
    
                #logo {
                    font-weight: bold;
                    font-size: 20px;
                }
    
                #user_profile {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    
                    img {
                        width: 27px;
                        height: 27px;
                        background-color: lightgray;
                        border-radius: 50%;
                        object-fit: cover;
                    }
    
                    span {
                        font-size: 15.5px;
                        font-weight: bold;
                    }
    
                    button {
                        background-color: #5d5b8d;
                        color: #ddddf7;
                        font-size: 14px;
                        padding: 4px;
                        border: none;
                        border-radius: 3px;
                        cursor: pointer;
                    }

                    button:hover {
                        background-color: #7674b2;
                        color: white;
                    }
                }
            }

            #find_user {
                margin: 5px 7px;
                position: relative;

                #search {
                    border-radius: 20px;
                    overflow: hidden;
    
                    label {
                        position: absolute;
                        color: lightgray;
                        margin: 7px 0 0 10px;
                    }
    
                    input {
                        padding: 10px 0 10px 35px;
                        width: 100%;
                        border: none;
                        background-color: #2f2d52;
                        color: white;
    
                        &::placeholder {
                            color: lightgray;
                        }
                    }
    
                    input:focus {
                        outline: none;
                    }
                }

                #search_result {
                    background-color: #ffffff;
                    margin-top: 3px;
                    border-radius: 7px;
                    position: absolute;
                    width: 100%;

                    ul {
                        list-style-type: none;
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        margin: 5px;

                        li {
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            padding: 7px;
                            cursor: pointer;

                            img {
                                height: 40px;
                                width: 40px;
                                background-color: lightgray;
                                border-radius: 50%;
                                object-fit: cover;
                                
                            }

                            span {
                                font-size: 18px;
                            }

                            &:hover {
                                border-radius: 7px;
                                background-color: #5d5b8d;
                                color: #ffffff;
                            }
                        }

                        .no-user-name {
                            cursor: default;

                            &:hover {
                                color: #000000;
                                background-color: #ffffff;
                            }
                        }
                    }                    
                }
            }
    
            #chat_list {
                ul {
                    list-style-type: none;

                    li {
                        display: flex;
                        align-items: center;
                        margin: 0px 7px;
                        padding: 10px 7px;
                        gap: 10px;
                        color: white;
                        cursor: pointer;

                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            object-fit: cover;
                        }

                        div {
                            span {
                                font-size: 18px;
                            }
                            
                            p {
                                font-size: 14px;
                                color: lightgray;
                            }
                        }

                        &:hover {
                            border-radius: 10px;
                            background-color: #5d5b8d;
                        }

                        &.active {
                            border-radius: 10px;
                            background-color: #2f2d52;
                        }
                    }
                }
            }
        }
    
        #right_panel {
            flex: 2;
            background-color: #ffffff;

            #no_chat {
                position: relative;
                height: 100%;

                h1 {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);  
                    text-align: center;
                    width: 100%;
                    color: #ababab;
                }
            }

            #chatting_section {                
                height: 100%;

                #chat_info {
                    height: 50px;
                    background-color: #3e3c61;
                    background-color: #5d5b8d;
                    display: flex;
                    align-items: center;
                        
                    img {
                        width: 27px;
                        height: 27px;
                        background-color: lightgray;
                        border-radius: 50%;
                        object-fit: cover;
                        margin-left: 10px;
                    }
        
                    span {
                        color: lightgray;
                        font-size: 17px;
                        font-weight: bold;
                        margin-left: 10px;
                    }
                }

                #messages {
                    height: 82%;
                    padding: 7px;
                    overflow: auto;

                    .message-container {
                        display: flex;
                        gap: 10px;
                        margin-bottom: 15px;
                        font-family: Roboto;

                        .user-img {
                            img {
                                width: 35px;
                                height: 35px;
                                border-radius: 50%;
                                object-fit: cover;
                            }
                        }
    
                        .message-wrapper {
                            max-width: 80%;

                            .message-content {
                                display: flex;
                                flex-direction: column;
                                gap: 3px;

                                p {
                                    font-size: 15px;
                                    background-color: white;
                                    background-color: #f0f0f0;
                                    background-color: #d3d3d3;
                                    
                                    padding: 8px;
                                    border-radius: 0px 10px 10px 10px;
                                    max-width: max-content;
                                }
                            }

                            .message-date {
                                font-size: 0;

                                span {
                                    font-size: 10.5px;
                                    color: gray; 
                                }
                            }
                        }
                         
                        &.owner {
                            flex-direction: row-reverse;
                            

                            .message-wrapper {
                                .message-content {
                                    align-items: flex-end;
        
                                    p {
                                        background-color: #8da4f1;
                                        background-color: #0084ff;
                                        background-color: #2f2d52;
                                        background-color: #3e3c61;
                                        background-color: #5d5b8d;
                                        
                                        color: white;
                                        border-radius: 10px 0px 10px 10px;
                                    }
                                }

                                .message-date {
                                    text-align: right;
                                }
                            }
                        }
                    }
                }

                #reply_section {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 15px 20px;
                    
                    textarea {
                        resize: none;
                        height: 38px;
                        /* background-color: #3e3c61;  changable */
                        background-color: lightgray;    
                        padding: 10px 15px;
                        width: 95%;
                        border-radius: 25px;
                        border: none;
                        font-size: 15px;
                        color: #000000;
                        
                        &::placeholder {
                            color: #808080;
                        }
                    }
    
                    textarea:focus {
                        outline: none;
                    }
    
                    button {
                        color: #2f2d52;
                        font-size: 22px;
                        margin-left: 5px;
                        padding: 7px 9px;
                        border-radius: 50%;
                        border: none;
                        background-color: inherit;
                        cursor: pointer;
                    }
    
                    button:hover {
                        background-color: white;
                    }
                }
            }
        }
    }
}