* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
#container {
  background-color: #a7bcff;
  background-color: #928fed;
  background-color: #8785d1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container #wrapper {
  width: 75%;
  height: 85%;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.5);
}
#container #wrapper #left_panel {
  flex: 1;
  background-color: #3e3c61;
  position: relative;
}
#container #wrapper #left_panel #left_panel_header {
  background-color: #2f2d52;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: #ddddf7;
}
#container #wrapper #left_panel #left_panel_header #logo {
  font-weight: bold;
  font-size: 20px;
}
#container #wrapper #left_panel #left_panel_header #user_profile {
  display: flex;
  gap: 10px;
  align-items: center;
}
#container #wrapper #left_panel #left_panel_header #user_profile img {
  width: 30px;
  height: 30px;
  background-color: lightgray;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
#container #wrapper #left_panel #left_panel_header #user_profile span {
  font-size: 17px;
  font-weight: bold;
}
#container #wrapper #left_panel #left_panel_header #user_profile i {
  color: #ddddf7;
}
#container #wrapper #left_panel #left_panel_header #user_profile i:hover {
  color: white;
}
#container #wrapper #left_panel #find_user {
  margin: 5px 7px;
  position: relative;
}
#container #wrapper #left_panel #find_user #search {
  border-radius: 20px;
  overflow: hidden;
}
#container #wrapper #left_panel #find_user #search label {
  position: absolute;
  color: lightgray;
  margin: 7px 0 0 10px;
}
#container #wrapper #left_panel #find_user #search input {
  padding: 10px 0 10px 35px;
  width: 100%;
  border: none;
  background-color: #2f2d52;
  color: white;
}
#container #wrapper #left_panel #find_user #search input::-moz-placeholder {
  color: lightgray;
}
#container #wrapper #left_panel #find_user #search input::placeholder {
  color: lightgray;
}
#container #wrapper #left_panel #find_user #search input:focus {
  outline: none;
}
#container #wrapper #left_panel #find_user #search_result {
  background-color: #ffffff;
  margin-top: 3px;
  border-radius: 7px;
  position: absolute;
  width: 100%;
}
#container #wrapper #left_panel #find_user #search_result ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 5px;
}
#container #wrapper #left_panel #find_user #search_result ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 7px;
  cursor: pointer;
}
#container #wrapper #left_panel #find_user #search_result ul li img {
  height: 40px;
  width: 40px;
  background-color: lightgray;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
#container #wrapper #left_panel #find_user #search_result ul li span {
  font-size: 18px;
}
#container #wrapper #left_panel #find_user #search_result ul li:hover {
  border-radius: 7px;
  background-color: #5d5b8d;
  color: #ffffff;
}
#container #wrapper #left_panel #find_user #search_result ul .no-user-name {
  cursor: default;
}
#container #wrapper #left_panel #find_user #search_result ul .no-user-name:hover {
  color: #000000;
  background-color: #ffffff;
}
#container #wrapper #left_panel #chat_list ul {
  list-style-type: none;
  max-height: 65vh;
  overflow: auto;
}
#container #wrapper #left_panel #chat_list ul li {
  display: flex;
  align-items: center;
  margin: 0px 7px;
  padding: 10px 7px;
  gap: 10px;
  color: white;
  cursor: pointer;
}
#container #wrapper #left_panel #chat_list ul li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e4e4e4;
  -o-object-fit: cover;
     object-fit: cover;
}
#container #wrapper #left_panel #chat_list ul li div span {
  font-size: 18px;
}
#container #wrapper #left_panel #chat_list ul li div p {
  font-size: 14px;
  color: lightgray;
}
#container #wrapper #left_panel #chat_list ul li:hover {
  border-radius: 10px;
  background-color: #5d5b8d;
}
#container #wrapper #left_panel #chat_list ul li.active {
  border-radius: 10px;
  background-color: #2f2d52;
}
#container #wrapper #left_panel #logout {
  margin-top: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
#container #wrapper #left_panel #logout a {
  height: 40px;
  width: 100%;
  text-decoration: none;
  background-color: #2f2d52;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: #ddddf7;
  font-size: 18px;
  font-weight: bold;
}
#container #wrapper #left_panel #logout a:hover {
  color: white;
  background-color: #5d5b8d;
}
#container #wrapper #right_panel {
  flex: 2;
  background-color: #ffffff;
}
#container #wrapper #right_panel #no_chat {
  position: relative;
  height: 100%;
}
#container #wrapper #right_panel #no_chat h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  color: #ababab;
}
#container #wrapper #right_panel #chatting_section {
  height: 100%;
}
#container #wrapper #right_panel #chatting_section #chat_info {
  height: 50px;
  background-color: #3e3c61;
  background-color: #5d5b8d;
  display: flex;
  align-items: center;
}
#container #wrapper #right_panel #chatting_section #chat_info img {
  width: 27px;
  height: 27px;
  background-color: lightgray;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 10px;
}
#container #wrapper #right_panel #chatting_section #chat_info span {
  color: lightgray;
  font-size: 17px;
  font-weight: bold;
  margin-left: 10px;
}
#container #wrapper #right_panel #chatting_section #messages {
  height: 82%;
  padding: 7px;
  overflow: auto;
}
#container #wrapper #right_panel #chatting_section #messages .message-container {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  font-family: Roboto;
}
#container #wrapper #right_panel #chatting_section #messages .message-container .user-img img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
#container #wrapper #right_panel #chatting_section #messages .message-container .message-wrapper {
  max-width: 80%;
}
#container #wrapper #right_panel #chatting_section #messages .message-container .message-wrapper .message-content {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
#container #wrapper #right_panel #chatting_section #messages .message-container .message-wrapper .message-content p {
  font-size: 15px;
  background-color: white;
  background-color: #f0f0f0;
  background-color: #d3d3d3;
  padding: 8px;
  border-radius: 0px 10px 10px 10px;
  max-width: -moz-max-content;
  max-width: max-content;
}
#container #wrapper #right_panel #chatting_section #messages .message-container .message-wrapper .message-date {
  font-size: 0;
}
#container #wrapper #right_panel #chatting_section #messages .message-container .message-wrapper .message-date span {
  font-size: 10.5px;
  color: gray;
}
#container #wrapper #right_panel #chatting_section #messages .message-container.owner {
  flex-direction: row-reverse;
}
#container #wrapper #right_panel #chatting_section #messages .message-container.owner .message-wrapper .message-content {
  align-items: flex-end;
}
#container #wrapper #right_panel #chatting_section #messages .message-container.owner .message-wrapper .message-content p {
  background-color: #8da4f1;
  background-color: #0084ff;
  background-color: #2f2d52;
  background-color: #3e3c61;
  background-color: #5d5b8d;
  color: white;
  border-radius: 10px 0px 10px 10px;
}
#container #wrapper #right_panel #chatting_section #messages .message-container.owner .message-wrapper .message-date {
  text-align: right;
}
#container #wrapper #right_panel #chatting_section #reply_section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 20px;
}
#container #wrapper #right_panel #chatting_section #reply_section textarea {
  resize: none;
  height: 38px;
  /* background-color: #3e3c61;  changable */
  background-color: lightgray;
  padding: 10px 15px;
  width: 95%;
  border-radius: 25px;
  border: none;
  font-size: 15px;
  color: #000000;
}
#container #wrapper #right_panel #chatting_section #reply_section textarea::-moz-placeholder {
  color: #808080;
}
#container #wrapper #right_panel #chatting_section #reply_section textarea::placeholder {
  color: #808080;
}
#container #wrapper #right_panel #chatting_section #reply_section textarea:focus {
  outline: none;
}
#container #wrapper #right_panel #chatting_section #reply_section button {
  color: #2f2d52;
  font-size: 22px;
  margin-left: 5px;
  padding: 7px 9px;
  border-radius: 50%;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
#container #wrapper #right_panel #chatting_section #reply_section button:hover {
  background-color: white;
}